/*
    BODY
*/
.body{
    position: relative;
    width: 100vw;
    margin: 200px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body table{
    position: relative;
    margin: 0px auto;
    width: 100%;
    max-width: 800px;
}
.body table tr{
    position: relative;
    border-top: 1px solid gray !important;
    border-bottom: 1px solid gray !important;
}
.body tr td:first-child{
    position: relative;
    padding: 25px 50px 25px 0px;
    width: 30%;
    text-align: right;
    font-weight: bold;
}
.body tr td:last-child{
    position: relative;
    width: 70%;
    padding: 25px 50px 25px 0px;
}
.body button{
    position: relative;
    margin: 50px auto;
    width: 80px;
    height: 40px;
    background-color: #f5c842;
}
.body button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.body button:hover, .body button:hover a{
    color: white;
    background-color: black;
}
/* Change password button css */
.body table button{
    position: relative;
    margin: 0px 20px;
    width: 150px;
    height: 30px;
    background-color: #f5c842;
    border: 1px solid black;
}
.body table button a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    font-size: small;
}

